<div class="container">
    <form [formGroup]="login" (ngSubmit)="onSubmit()" class = "form-box">
        <h1 class="label-design">Login</h1>
        <div class="form-group">
            <label class="word-design" >Email</label>
            <input type="text" formControlName="email" class = "form-control mb-3 mt-3" placeholder="Enter Email"/>

        </div>
        <div class="form-group">
            <label><h1 class="word-design">Password</h1></label>
            <input type="password" formControlName="password" class = "form-control mb-3 mt-3" placeholder="Enter Password">
        </div>
        <span class="word-design">Create New Account <a routerLink="/signup">Sign Up</a></span>
        <br>
        <div class="d-flex justify-content-center">
            <button type="submit"[disabled]="!login.valid" class = "btn btn-success mb-3 mt-3 custom-btn">Login</button>
    
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class = "btn btn-success mb-3 mt-3 custom-btn-google"(click)="Login()">LogIn With Google</button>
      
          </div>
    </form>
   
    </div>
