
.dashboard-footer{
  grid-area: f;
  background-color: #e3f2fd;
  color: rgb(105, 98, 98);
}
.dashboard-footer p{
  display: flex;
  padding-top: 20px;
  justify-content: center;
  font-weight: bold;
}
.dashboard-footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    padding-top:10px;
  }
  .dashboard-footer li:hover{
    background-color: #3397fa;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  
  }