<div class="dashboard-container">
<div class ="dashboard-header">
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/dohatec.png" alt="">
       </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center mr-3" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="dashboard"role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>Services</b> </a>
            <ul class = "dropdown-menu">
                <li><a class="dropdown-item"href="pki">PKI Enablement Service</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="dashboard"role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>Products</b> </a>
            <ul class = "dropdown-menu">
              <li><a class="dropdown-item"href="pki">Signing Certificate</a></li>
              <li><a class="dropdown-item"href="pki">Encryption Certificate</a></li>
              <li><a class="dropdown-item"href="pki">Secure Email Certificate</a></li>
              <li><a class="dropdown-item"href="pki">SSL Certificate</a></li>
              <li><a class="dropdown-item"href="pki">PDF Signer</a></li>
          </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="dashboard" role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>Resources</b> </a>
            <ul class="dropdown-menu">
              <li class = "dropdown-item">Bangladesh ICT Act</li>
              <li class = "dropdown-item">IT CA Rules, 2010</li>
              <li class = "dropdown-item">Subscriber Agreement</li>
              <li class = "dropdown-item">Relying Party Agreement</li>
              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="dashboard"role="button" data-bs-toggle="dropdown" aria-expanded="false"><b>Support</b> </a>
            <ul class = "dropdown-menu">
              <li class = "dropdown-item">User Guides</li>
              <li class = "dropdown-item">Download Crypto USB Token Drivers</li>
              <li class = "dropdown-item">Verify Certificate</li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="dashboard"role="button" data-bs-toggle="dropdown" aria-expanded="false"> <b>Repository</b> </a>
            <ul class = "dropdown-menu">
              <li class="dropdown-item">Subscriber Application Form</li>
              <li class="dropdown-item">CrtificatePractice Statement(CPS)</li>
              <li class="dropdown-item">eSign Guideline</li>
              <li class="dropdown-item">Search Certificate</li>
            </ul>
          </li>
          
        </ul>
      
      </div>
    </div>
   <button class="navbar-brand" type="button" (click)="logout()">Logout</button>
    <a class = "navbar-brand" href="#">
        <img src="../../assets/logo.gif" alt="">
      </a>
  </nav>
</div>
  <br>
<!-- <h2>Secure Your Transactions</h2>
<p class="jello">Collaborate with customers and partners to be the most reliable Certifying Authority with highest technological competence and trust</p> -->
<div class="dashboard-menu">
<div class="container">
  <div class="col">
    <div class="row align-items-center">
      <div class="col-sm-5 col-md-6 col-lg-6 col-xl-6">
        
           
            <h1 class="hero-1-title">Make Your Digital Footprints Secured                         
            </h1>
          
            <p class="hero-1-text">Collaborate with customers and partners to
               be the most reliable Certifying Authority 
               with highest technological competence and trust</p>
            <p></p>
            
        
    </div>
    <div class="col-sm-7 col-md-6 col-lg-6 col-xl-6 d-none d-sm-block ">
      <div class="mt-5 mt-lg-0 ">
          <img src="../../assets/e-sign.jfif" alt="" class="img-fluid mx-auto d-block " width="400 px" height="auto">
      </div>
  </div>
    </div>
  </div>
</div>

<div class = "contentt">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="../../assets/slide-1.jpg" width="800px" height="400px" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h4 style="color:rgb(211, 233, 235)">PKI Tools</h4>
              <p style="color: rgb(205, 220, 228);">add<i>Trust</i> add <i>PKI</i></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/slide-2.jpg" width="800px" height="400px" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color:white">Digital Certificates</h5>
              <p style="color: white;"><i>add </i> <b>Trust to communications</b></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/slide-3.jpg"width="800px" height="400px" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color:white">SSL Certificates</h5>
              <p style="color: white;"><i>add </i> <b>Trust to your website</b></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
</div>
<div class ="dashboard-footer">
 
  <ul class="dashboard-footer-unorederd-list">
    <li>
      <a routerLink=""></a>Repository </li>
    <li>Privacy</li>
    <li>Legal Disclaimer</li>
    <li>Site Map</li>
    <li>Contact</li>
  </ul>
  <p class="footer-content">Copyright &copy; 2023 Dohatec New Media. All rights reserved • Powered by Tata Consultancy Services • Best viewed in IE 11</p>
</div>
</div>