<div class="dashboard-container">
<div class ="dashboard-header">
  <app-header></app-header>
</div>
  <br>
<!-- <h2>Secure Your Transactions</h2>
<p class="jello">Collaborate with customers and partners to be the most reliable Certifying Authority with highest technological competence and trust</p> -->
<div class="dashboard-menu">
<div class="container">
  <div class="col">
    <div class="row align-items-center">
      <div class="col-sm-5 col-md-6 col-lg-6 col-xl-6">
        
           
            <h1 class="hero-1-title">Make Your Digital Footprints Secured                         
            </h1>
          
            <p class="hero-1-text">Collaborate with customers and partners to
               be the most reliable Certifying Authority 
               with highest technological competence and trust</p>
            <p></p>
            
        
    </div>
    <div class="col-sm-7 col-md-6 col-lg-6 col-xl-6 d-none d-sm-block ">
      <div class="mt-5 mt-lg-0 ">
          <img src="../../assets/e-sign.jfif" alt="" class="img-fluid mx-auto d-block " width="400 px" height="auto">
      </div>
  </div>
    </div>
  </div>
</div>

<div class = "contentt">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="../../assets/slide-1.jpg" width="800px" height="400px" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h4 style="color:rgb(211, 233, 235)">PKI Tools</h4>
              <p style="color: rgb(205, 220, 228);">add<i>Trust</i> add <i>PKI</i></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/slide-2.jpg" width="800px" height="400px" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color:white">Digital Certificates</h5>
              <p style="color: white;"><i>add </i> <b>Trust to communications</b></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../assets/slide-3.jpg"width="800px" height="400px" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color:white">SSL Certificates</h5>
              <p style="color: white;"><i>add </i> <b>Trust to your website</b></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
</div>
<div class ="dashboard-footer">
 
  <app-footer></app-footer>
</div>
</div>